<header class="fadeinup animation-duration-1000">
  <h1 class="text-red-700 lg:text-5xl sm:text-1xl text-center uppercase">printer key assignment</h1>
</header>
<main class="flex justify-content-center fadeindown animation-duration-1000">
  <div class="w-10">
    <p-card header="User registry" >
      <div class="flex justify-content-center">
        <div class="w-9 ">
          <div class=" card flex flex-row justify-content-center flex-wrap gap-3">
            <div>
            <span class="p-float-label">
              <p-multiSelect
                [options]="printers"
                [(ngModel)]="selectedPrinter"
                placeholder="select a printer"
                optionLabel="printer_name"
                inputId="float-label"
                [showToggleAll]="false"
                [ngClass]="{'ng-invalid ng-dirty': printerInput}"
                class="{{ this.printerInput ? 'ng-invalid ng-dirty' : null }}"
                (onChange)="onChange($event)">
              </p-multiSelect>
  
              <label for="float-label">select a printer/s</label>
            </span>
          </div>
            <div class="p-inputgroup sm:w-max lg:w-6  ">
              <span class="p-inputgroup-addon">
                <i class="pi pi-at"></i>
              </span>
              <input pInputText placeholder="Email user" [(ngModel)]="email" name="email" [ngClass]="{'ng-invalid ng-dirty': emailInput}" required />

            </div>
          </div>
          <div class="mt-3 flex flex-column align-items-center">
            <p-button pRipple label="Generate code" [loading]="loading" styleClass="p-button-rounded text-primary-600 p-button-outlined"  (onClick)="generateRegistry()"></p-button>
          </div>
        </div>
      </div>
    </p-card>
  </div>
  
  <p-toast></p-toast>

</main>

